# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Joonas Nordlund
	email = jonaz92@gmail.com
[alias]
	logi = log --graph --oneline --decorate
